<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
{{> header}}
    <p>Here you can find the projects i have done.</p>

{{> footer}}
  </body>
</html>
